<!DOCTYPE html>
<html>
<head>
  <title>Donations</title>
  <style>
    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      font-size: 10px; /* Reduce the font size of the table */
    }
    th, td {
      border: 1px solid #ddd;
      padding: 5px; /* Reduce the padding to decrease row height */
      text-align: center;
      line-height: 1.2; /* Adjust line height for smaller rows */
    }
    th {
      background-color: #F2F2F2;
      font-weight: bold;
    }
    button {
      padding: 4px 8px; /* Adjust button size */
      margin: 2px;
      font-size: 12px; /* Adjust button font size */
      cursor: pointer;
    }
  </style>
</head>
<body>
    <h5>This will be the donation page</h5>
    <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="business" value="HPEFBZJLE8XNL" />
      <input type="hidden" name="no_recurring" value="0" />
      <input type="hidden" name="item_name" value="Help the Turtle Shelter Project provide shelter!" />
      <input type="hidden" name="currency_code" value="USD" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
      
</body>
</html>