<!DOCTYPE html>
<html>
<head>
  <title>Sponsors</title>
  <style>
    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      font-size: 10px; /* Reduce the font size of the table */
    }
    th, td {
      border: 1px solid #ddd;
      padding: 5px; /* Reduce the padding to decrease row height */
      text-align: center;
      line-height: 1.2; /* Adjust line height for smaller rows */
    }
    th {
      background-color: #F2F2F2;
      font-weight: bold;
    }
    button {
      padding: 4px 8px; /* Adjust button size */
      margin: 2px;
      font-size: 12px; /* Adjust button font size */
      cursor: pointer;
    }
  </style>
</head>
<body>
    <h5>This will be the Sponsors page</h5>
    <p>Our sponsors play a crucial role in the Turtle Shelter Project, providing essential support that enables us to 
      continue our mission of helping those experiencing homelessness. Through their generous contributions, we are able to 
      produce and distribute insulated vests that offer warmth and protection in harsh weather conditions.</p>

    <p> Click on the logos below to visit our sponsors' websites </p>

    <h1>Our Sponsors</h1>

    <a href="https://www.cheneybrothersconstruction.com/" target="_blank">
      <img src="/images/cheney_brothers_construction.jpg" alt="Cheney Brothers Construction">
    </a>
    <a href="https://daughtersofcharity.org/" target="_blank">
      <img src="/images/daughters_of_ministry.png" alt="Daughters of Ministry">
    </a>
    <a href="https://designsourceslc.com/" target="_blank">
      <img src="/images/design_source_company.png" alt="Design Source">
    </a>
    <a href="https://www.futurefoam.com/" target="_blank">
      <img src="/images/future_foam.png" alt="Future Foam">
    </a>
    <a href="https://www.goodshepherdogden.org/" target="_blank">
      <img src="/images/good_shepard_episcipol_church.png" alt="Good Shepard Episcopal Church">
    </a>
    <a href="https://www.softminkyblankets.com/?utm_campaign=brand_e&tw_source=google&tw_adid=517497630408&tw_campaign=12873254566&gad_source=1&gclid=CjwKCAiA9bq6BhAKEiwAH6bqoIFpC5ULaTlc4IEWwHSkIk6iHLBkW4S5qGyg-VB05e1u9JHXbNGJWRoC_iwQAvD_BwE" target="_blank">
      <img src="/images/minkey_blanket_company.jpg" alt="Minkey Contour Blanket">
    </a>
    <a href="https://www.owfinc.com/" target="_blank">
      <img src="/images/outdoor_wilderness_project.jpg" alt="Outdoor Wilderness Project">
    </a>

</body>
</html>